h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-size: 24px;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  padding: 24px;
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 95px;
  background: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.input-field,
.textarea-field {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  resize: none;
  height: 80px;
}

.input-field:hover,
.textarea-field:hover,
.input-field:focus,
.textarea-field:focus {
  border-color: #000;
}

.input-field:active,
.textarea-field:active {
  border-color: #808080;
}
