h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-size: 24px;
  display: block;
  margin-bottom: 24px;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 36px 156px;
}

.timer-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 75px;
  background: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.timer-btn:hover,
.timer-btn:focus {
  background-color: #6c8cff;
}

.timer-btn:disabled {
  background: #cfcfcf;
  color: #989898;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 32px;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
}

#datetime-picker:hover,
#datetime-picker:focus,
.number-input:hover,
.number-input:focus,
fieldset:hover,
fieldset:focus {
  border: 1px solid #000;
}

#datetime-picker:active,
.flatpickr-input.active,
.number-input:active,
.number-input:focus-within {
  border: 1px solid #4e75ff;
  color: #000;
}

.timer {
  display: flex;
  gap: 24px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  text-transform: uppercase;
}

.number-input {
  display: block;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.radio-input {
}

fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
}

button.btn-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  background: #4e75ff;
  outline: none;
  border: none;
  font-weight: 500;
  color: #fff;
}

.form {
  width: 360px;
}
